.nav-hor{
	background-color: #ff8207; height: 8vh;
}
.btn-quit
{
  background-color: #ff8207;
  font-size: 16px;
  border: 0px;
  color: #fff;
  margin-left: 200vh;
}
.btn-quit:hover
{
  font-size: 18px;
}

#name{
  font-size: 30px;
  margin-left: 20px;
  overflow: hidden;

}
body {
  overflow-x: hidden;
}

/* Sidebar Styles */
#sidebar-wrapper {
 z-index: 1000;
 background: #2d2d2d;
 -webkit-transition: all 0.5s ease;
 -moz-transition: all 0.5s ease;
 -o-transition: all 0.5s ease;
 transition: all 0.5s ease;
}

.sidebar-nav {
  position: absolute;
  margin: 0;
  padding: 0;
  list-style: none;
}

.sidebar-nav li {
 position: relative; 
 line-height: 20px;
 display: inline-block;
 width: 100%;
 font-size: 15px;
}
.sidebar-nav li:before {
 content: '';
 position: absolute;
 top: 0;
 left: 0;
 z-index: -1;
 height: 100%;
 width: 3px;
 -webkit-transition: width .2s ease-in;
 -moz-transition: width .2s ease-in;
 -ms-transition: width .2s ease-in;
 transition: width .2s ease-in;

}
.sidebar-nav li:nth-child(2n+1):before {
 background-color: #ff8207; 
}
.sidebar-nav li:nth-child(2n):before {
 background-color: #2ebb4e;
}


.sidebar-nav li:hover:before,
.sidebar-nav li.open:hover:before {
 width: 100%;
 -webkit-transition: width .2s ease-in;
 -moz-transition: width .2s ease-in;
 -ms-transition: width .2s ease-in;
 transition: width .2s ease-in;

}

.sidebar-nav li a {
 display: block;
 color: #fff;
 text-decoration: none;
 font-family: Century Gothic;
 padding: 10px 15px 10px 30px; 
}
.sidebar-nav li a:hover,
.sidebar-nav li a:active,
.sidebar-nav li a:focus,
.sidebar-nav li.open a:hover,
.sidebar-nav li.open a:active,
.sidebar-nav li.open a:focus{
 color: #fff;
 text-decoration: none;
 background-color: transparent;
}
 .dropdown-menu {
 position: relative;
 width: 100%;
 padding: 0;
 margin: 0;
 margin-left: -5px;
 border-radius: 0;
 border: none;
 background-color: #2d2d2d;
 box-shadow: none;
}
.info
{
	margin-left: 15px;
	font-size: 14px;
	font-style: italic;
	color: #fff;
	font-family: Century Gothic;
}
@font-face {
    font-family: Century Gothic; /* Имя шрифта */
    src: url("../fonts/Century Gothic.ttf"); /* Путь к файлу со шрифтом */
   }
.head-menu
{
	font-family: Century Gothic;
	color: #fff;
	font-size: 20px;
}
p
{
  background-color: #ffffff47;
  border-radius: 35px;
  padding: 5px;
  font-family: Century Gothic;
  color: #000;
  font-size: 16px;  
}
a:hover
{
	text-decoration: none;
}


/*Bar*/
#wrapper {
  padding-left: 0;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

#wrapper.toggled {
  padding-left: 0px;
}

#sidebar-wrapper {
  z-index: 1000;
  position: fixed;
  left: 250px;
  width: 0;
  height: 92vh;
  margin-left: -255px;
  overflow-y: auto;
  background: #2d2d2d;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

#wrapper.toggled #sidebar-wrapper {
  width: 300px;
  margin-top: 8vh;
}

#page-content-wrapper {
  width: 100%;
  position: absolute;
  padding: 15px;
}

#wrapper.toggled #page-content-wrapper {
  position: absolute;
  margin-right: -300px;
}

@media(min-width:768px) {
  p{
    color: #fff;
  }
  .nav-hor{
  background-color: #ff8207; 
  height: 6vh;
}

  #wrapper {
    padding-left: 0;
  }
  #wrapper.toggled {
    padding-left: 0px;
  }
  #sidebar-wrapper {
    height: 94vh;
  	margin-top: 6vh;
    width: 25.54%;
  }
  #wrapper.toggled #sidebar-wrapper {
    width: 25.54%;
  }
  #page-content-wrapper {
    margin-left: 10px;
    padding: 20px;
    position: relative;
  }
  #wrapper.toggled #page-content-wrapper {
    position: relative;
    margin-right: 0;
  }
  #carousel
  {
    margin-top: 70px;
    margin-bottom: 20px;
  }
}

.nav-icon
{
  background-color: #555555; height: 40px; padding: 5px; 
  position:absolute; /* добавили */
  bottom:0;
  width: 100%;
}
.content
{
  margin: 10px;
  padding:10px;
}
@media(min-width:1620px) {
p{font-size: 24px;}
h3{font-size: 32px;}
.btn-active
{
  text-align: center;
  font-size: 24px;
  width: 200px;
  height: 60px;
}
}
