<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Мій диск</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
      integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <link rel="stylesheet" href="/static/css/stylefile.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <!-- Custom styles for this template -->
    <link href="/static/css/home.css" rel="stylesheet">
    <link rel="stylesheet" href="/static/css/style.css">
    <script type="text/javascript" src="/static/js/telMask.js"></script>

</head>

<body>
     <nav class="navbar navbar-expand fixed-top nav-hor">
 <div class="conteiner-fluid">
    <div class="row">
        <div class="col-12">

              <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <a href="#menu-toggle" class="d-md-none" id="menu-toggle">
                    <img src="/static/img/hamburger.png" id="hamb" width="35" height="28">
                </a>
              </div>

        </div>
    </div>
    </div>
         </nav>
<div id="wrapper">

    <!-- Sidebar -->
    <nav class="fixed-top">
        <ul class="sidebar-nav" id="sidebar-wrapper">
            <hr>
                <span class="head-menu" id="name" th:text="${participant.fullName}">Ім'я Прізвище</span>
                <hr>
            <div class="info" id="date">
                Дата народження: <span th:text="${participant.birthdate.toString('dd.MM.yyyy')}" th:remove="tag"></span>
            </div>
            <div class="info" id="phone">
                Телефон: <span th:text="${participant.phoneNumber}" th:remove="tag"></span>
            </div>
            <div class="info" id="email">
                Email: <span th:text="${participant.email}" th:remove="tag"></span>
            </div>
            <li>
                <a href="/participant/edit" class="text-center" style="margin-left: -25px;" id="edit-data">
                    Редагувати
                </a>
            </li>
            <li>
                <a href="/participant/resetPassword" class="text-center" style="margin-left: -25px;" id="edit-password">
                    Змінити пароль
                </a>
            </li>
            <hr size="5" width="250" align="center" color="#1f1f1f">
            <li>
                <a href="main.html">Головна</a>
            </li>
            <li>
                <a href="drive.html">Мій диск</a>
            </li>
            <li class="dropdown">
                <a href="home.html">Конкурси</a>

            </li>
            <li>
                <a href="main.html">Про сайт</a>
            </li>
            <div class="conteiner nav-icon">
                <a href="#" class="bottom-panel mx-2"><img src="/static/img/YSA.png" alt="" width="30"
                                                           height="30"></a>
                <a href="#" class="bottom-panel"><img src="/static/img/facebook.png" alt="" width="30"
                                                      height="30"></a>
                <a href="/logout" class="bottom-panel" style="margin-right: 10px; position: absolute; right: 0px;"><img
                        src="/static/img/exit.png" alt="" width="30" height="30"></a>
            </div>
        </ul>
    </nav>
    <!-- /#sidebar-wrapper -->

        <!-- Page Content -->
        <div id="page-content-wrapper" class="py-0 px-0">

        <div class="row">
        <div class="col-md-3" >
            <!-- Sidebar -->

        </div>
        <div class=" col col-md-9 px-0 my-4 ">
                <div class="content">
                    <h1 class="text-align-center" style="margin-top: 3vh;">Мій диск</h1>
                    <hr>
                    <div class="conteiner  mx-4">
                        <div class="row">
                    <!--<button class="btn btn-primary" id="add">Створити файл</button>-->
                            <div id="FilesList">
                                <div class="col-3 col-md-1 showFilesList" title="parent" id="start">
                                    <div class="row">
                                    <img src="/static/img/file.svg" width="70" height="70">
                                </div>
                                <div class="row">
                                         <a href="#" id="text" class="dropdown-toggle" style="overflow: hidden; max-height: 20px;" data-toggle="dropdown"></a>
                                            <ul class="dropdown-menu" role="menu" style="background-color: rgba(255,255,255,155);">
                                                 <li><a href="#" class="save" download>Скачати</a></li>
                                                    <li><a href="" class="remove">Видалити</a></li>
                                               </ul>

                                         </div>
                                </div>

                            </div>
                            <div id="upload-container"> <!-- Action - name server file-->
                            <input id="file-input" type="file" name="uploadingFiles" multiple>
                            <label for="file-input"><img src="https://img.icons8.com/ios-glyphs/50/000000/plus.png"></label>
                    </div>
                            </div>

                        </div>
                    </div>

                </div>
        </div>
    </div>
</div>
</div>
    <!-- /#page-content-wrapper -->
    <!-- Bootstrap core JavaScript -->
    <div class="modal"><!-- Place at bottom of page --></div>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"
        integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k"
        crossorigin="anonymous"></script>
    <!-- Menu Toggle Script -->
     <script src="/static/js/show.js"></script>
     <script src="/static/js/event.js"></script>
    <script src="/static/js/drive.js"></script>

<script>
    $("#menu-toggle").click(function(e) {
        e.preventDefault();
        $("#wrapper").toggleClass("toggled");
    });
    </script>
</body>

</html>
