<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Home</title>

    <!-- Bootstrap core CSS -->
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
    <link rel="stylesheet" href="http://bootstraptema.ru/plugins/2015/bootstrap3/bootstrap.min.css" />
      <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
    <!-- Custom styles for this template -->
    <link href="../static/css/home.css" rel="stylesheet">
    <link rel="stylesheet" href="../static/css/style.css">
    <script type="text/javascript" src="../static/js/telMask.js"></script>

</head>

<body>
<nav class="navbar navbar-expand fixed-top nav-hor" style="position: fixed;">
    <div class="conteiner-fluid">
        <div class="row">
            <div class="col-12">

                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <a href="#menu-toggle" class="d-md-none" id="menu-toggle">
                        <img src="../static/img/hamburger.png" id="hamb" width="35" height="28">
                    </a>
                </div>

            </div>
        </div>
    </div>
</nav>
<div id="wrapper">

    <!-- Sidebar -->
    <nav class="fixed-top">
        <ul class="sidebar-nav" id="sidebar-wrapper">
            <a href="#">
                <img src="../static/img/iconphoto.png" alt="avatar" width="90" height="90" style="margin: 15px; background-color: #555555; border-radius: 50px;" id="avatar">
                <span class="head-menu" id="name" th:text="${participant.fullName}">Ім'я Прізвище</span>
            </a>
            <div class="info" id="date">
                Дата народження: <span th:text="${participant.birthdate.toString('dd.MM.yyyy')}" th:remove="tag"></span>
            </div>
            <div class="info" id="phone">
                Телефон: <span th:text="${participant.phoneNumber}" th:remove="tag"></span>
            </div>
            <div class="info" id="email">
                Email: <span th:text="${participant.email}" th:remove="tag"></span>
            </div>
            <li>
                <a href="edit.html" class="text-center" style="margin-left: -25px;" id="edit-data">
                    Редагувати
                </a>
            </li>
            <hr size="5" width="250" align="center" color="#1f1f1f">
            <li>
                <a href="main.html">Головна</a>
            </li>
            <li>
                <a href="drive.html">Мій диск</a>
            </li>
            <li class="dropdown">
                <a href="home.html">Конкурси</a>

            </li>
            <li>
                <a href="main.html">Про сайт</a>
            </li>
            <div class="conteiner nav-icon">
                <a href="#" class="bottom-panel mx-2"><img src="../static/img/YSA.png" alt="" width="30"
                                                           height="30"></a>
                <a href="#" class="bottom-panel"><img src="../static/img/facebook.png" alt="" width="30"
                                                      height="30"></a>
                <a href="/logout" class="bottom-panel" style="margin-right: 10px; position: absolute; right: 0px;"><img
                        src="../static/img/exit.png" alt="" width="30" height="30"></a>
            </div>
        </ul>
    </nav>
    <!-- /#sidebar-wrapper -->

    <!-- Page Content -->
    <div id="page-content-wrapper" class="py-0 px-0">

        <div class="row">
            <div class="col-md-3">
                <!-- Sidebar -->

            </div>
            <div class=" col-12 col-md-5 px-0 text-align-center" id="edit">
                <form data-toggle="validator" role="form" class="form-horizontal" id="my-form">
                    <span class="heading">Зміна інформації</span>
                    <div class="form-group">
                        <label for="inputName" class="control-label">Ваш ПІБ:</label>
                        <input type="text" class="form-control" id="inputName" name="fullName"
                               th:value="${participant.fullName}">
                    </div>
                    <div class="form-group">
                        <label for="date" class="control-label">Дата народження:</label>
                        <input type="date" class="form-control" id="birthdate" name="date"
                               th:value="${participant.birthdate.toString('yyyy-MM-dd')}">
                    </div>
                    <div class="form-group">
                        <label for="zipCode" class="control-label">Ваш телефон:</label>
                        <input type="text" id="zipCode" class="form-control" name="phone"
                               onkeyup="javascript:mask('zipCode', '+38(000)000-00-00', event);"
                               th:value="${participant.phoneNumber}">
                        <div class="help-block with-errors"></div>
                    </div>
                    <div class="form-group">
                        <label for="inputEmail" class="control-label">Ваш E-mail</label>
                        <input type="email" class="form-control" id="inputEmail" name="email"
                               data-error="Вы не правильно ввели Ваш E-mail"
                               th:value="${participant.email}">
                    </div>
                    <div class="form-group">
                        <label for="inputOrg" class="control-label">Назва організації:</label>
                        <input type="text" class="form-control" id="inputOrg" name="organization"
                               placeholder="Введіть повну назву організації де працюєте/навчаєтесь"
                               th:value="${participant.organization}">
                    </div>
                    <div class="form-group">
                        <label for="inputOrg" class="control-label">Посада</label>
                        <select name="position"> <!--Supplement an id here instead of using 'name'-->
                            <option value="Науковий працівник"
                                    th:selected="${participant.position} == 'Науковий працівник' ? 'required' : _">
                                науковий працівник
                            </option>
                            <option value="науково-педагогічний працівник"
                                    th:selected="${participant.position} == 'науково-педагогічний працівник' ? 'required' : _">
                                науково-педагогічний працівник
                            </option>
                            <option value="аспірант"
                                    th:selected="${participant.position} == 'аспірант' ? 'required' : _">
                                аспірант
                            </option>
                            <option value="ад’юнкт"
                                    th:selected="${participant.position} == 'ад’юнкт' ? 'required' : _">
                                ад’юнкт
                            </option>
                            <option value="докторант"
                                    th:selected="${participant.position} == 'докторант' ? 'required' : _">
                                докторант
                            </option>
                            <option value="інженерно-технічний працівник"
                                    th:selected="${participant.position} == 'інженерно-технічний працівник' ? 'required' : _">
                                інженерно-технічний працівник
                            </option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="inputAdress" class="control-label">Службова адреса</label>
                        <input type="text" class="form-control" id="inputAdress" name="workAddress"
                               placeholder="Введіть повну службову адресу"
                               th:value="${participant.workAddress}">
                    </div>
                    <div class="form-group" style="margin-right: auto;margin-left: auto;">
                        <label for="message" class="control-label text-align-center">Перелік наукових праць</label>
                        <textarea name="scienceWorks" id="message" class="form-control" rows="9" cols="25"
                                  style="min-height: 90px;" placeholder="Введіть перелік робіт"
                                  th:text="${participant.scienceWorks}"></textarea>
                        <div class="help-block with-errors"></div>
                    </div>
                    <div class="form-group">
                        <button id="submit" name="edit" class="btn btn-primary a_submit" href="home.html">Змінити</button>
                    </div>
                </form>
                <script src="../static/js/jsonParse.js"></script>

            </div>
        </div>
    </div>
</div>
<!-- /#page-content-wrapper -->
    <!-- Menu Toggle Script -->
<script>
    $("#menu-toggle").click(function (e) {
        e.preventDefault();
        $("#wrapper").toggleClass("toggled");
    });
</script>
</body>

</html>
