<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title th:text="${error}">Сраница ошибки 404</title>
    <link rel="stylesheet" href="../static/css/error.css">
    <link href="../static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<div class="comingcontainer">
    <div class="checkbacksoon">
        <p>
                <span class="go3d" th:text="${status + '!'}"></span>
        </p>    
    </div>
</div>
    <script src="../static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
</body>
</html>