<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Управління конкурсами</title>

    <!-- Bootstrap core CSS -->
    <link href="../static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="../static/css/home.css" rel="stylesheet">
    <link rel="stylesheet" href="../static/css/style.css">

</head>

<body>
<nav class="navbar navbar-expand fixed-top nav-hor">
    <div class="conteiner-fluid">
        <div class="row">
            <div class="col-12">

                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <a href="#menu-toggle" class="d-md-none" id="menu-toggle">
                        <img src="../static/img/hamburger.png" id="hamb" width="35" height="28">
                    </a>
                </div>

            </div>
        </div>
    </div>
</nav>
<div id="wrapper">

    <!-- Sidebar -->
    <nav class="fixed-top">
        <ul class="sidebar-nav" id="sidebar-wrapper">
            <hr>
                <span class="head-menu" id="name" th:text="${participant.fullName}">Ім'я Прізвище</span>
                <hr>
            <div class="info" id="date">
                Дата народження: <span th:text="${participant.birthdate.toString('dd.MM.yyyy')}" th:remove="tag"></span>
            </div>
            <div class="info" id="phone">
                Телефон: <span th:text="${participant.phoneNumber}" th:remove="tag"></span>
            </div>
            <div class="info" id="email">
                Email: <span th:text="${participant.email}" th:remove="tag"></span>
            </div>
            <li>
                <a href="/participant/edit" class="text-center" style="margin-left: -25px;" id="edit-data">
                    Редагувати
                </a>
            </li>
            <li>
                <a href="/participant/resetPassword" class="text-center" style="margin-left: -25px;" id="edit-password">
                    Змінити пароль
                </a>
            </li>            
            <hr size="5" width="250" align="center" color="#1f1f1f">
            <li>
                <a href="main.html">Головна</a>
            </li>
            <li>
                <a href="drive.html">Мій диск</a>
            </li>
            <li class="dropdown">
                <a href="home.html">Конкурси</a>

            </li>
            <li>
                <a href="main.html">Про сайт</a>
            </li>
            <div class="conteiner nav-icon">
                <a href="#" class="bottom-panel mx-2"><img src="../static/img/YSA.png" alt="" width="30"
                                                           height="30"></a>
                <a href="#" class="bottom-panel"><img src="../static/img/facebook.png" alt="" width="30"
                                                      height="30"></a>
                <a href="/logout" class="bottom-panel" style="margin-right: 10px; position: absolute; right: 0px;"><img
                        src="../static/img/exit.png" alt="" width="30" height="30"></a>
            </div>
        </ul>
    </nav>
    <!-- /#sidebar-wrapper -->

    <!-- Page Content -->
    <div id="page-content-wrapper" class="py-0 px-0">

        <div class="row">
            <div class="col-md-3"><!-- Sidebar --></div>
            <div class=" col-12 col-md-9 px-0 mx-0 " id="edit">
                <div class="row contents">
                    <h1>Про сайт</h1>
                    <p>Сайт «Конкурси для молодих вчених» створений з метою локалізації наукових конкурсів, інформації
                        про них та полегшення процедури подачі заявок на участь у конкурсах. Для подальшого ознайомлення
                        з конкурсами, необхідно зареєструватися на сайті, натиснувши клавішу «Створити профіль».</p>
                    <div class="button">
                        <a href="login.html">
                            <button class="btn btn-primary btn-big">Увійти</button>
                        </a>
                        <a href="registration.html">
                            <button class="btn btn-primary btn-big">Створити профіль</button>
                        </a>
                    </div>


                </div>


            </div>

        </div>
    </div>
</div>


</div>
</div>
</div>
</div>
<!-- /#page-content-wrapper -->
<!-- Bootstrap core JavaScript -->
<script src="../static/vendor/jquery/jquery.min.js"></script>
<script src="../static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

<!-- Menu Toggle Script -->
<script>
    $("#menu-toggle").click(function (e) {
        e.preventDefault();
        $("#wrapper").toggleClass("toggled");
    });
</script>
</body>

</html>

